<div id="side-menu" class="uix-transition-slide-right uix-hide --display-none" style="display: none;">
    <div class="menu-head">
        <svg class="menu-logo" width="83" height="36" viewBox="0 0 83 36">
            <path fill="#fff" d="M80,36H50c-1.7,0-3-1.3-3-3V3c0-1.7,1.3-3,3-3h30c1.7,0,3,1.3,3,3v30C83,34.7,81.7,36,80,36z M78,10.4L72.6,5
                L65,12.6L57.4,5L52,10.4l7.6,7.6L52,25.6l5.4,5.4l7.6-7.6l7.6,7.6l5.4-5.4L70.4,18L78,10.4z M33,4h8v28h-8V4z M14,32
                C6.3,32,0,25.7,0,18V4h8v14c0,3.3,2.7,6,6,6s6-2.7,6-6V4h8v14C28,25.7,21.7,32,14,32z"/>
        </svg>
        <div class="menu-legend">Javascript <b>U</b>ser <b>I</b>nterface e<b>X</b>tension</div>
    </div>
    <div class="menu-body">
        <a href="/" class="menu-section">Overview</a>

        <div class="menu-section">Essentials</div>
        <a class="menu-item" href="/dom">DOM</a>
        <a class="menu-item" href="/ajax">AJAX</a>
        <a class="menu-item" href="/polyfills">Polyfills</a>

        <div class="menu-section">Widgets</div>
        <a class="menu-item" href="/widgets/button" >uix-button</a>
        <a class="menu-item" href="/widgets/select">uix-select</a>
        <a class="menu-item" href="/widgets/text">uix-text</a>
        <a class="menu-item" href="/widgets/check">uix-check</a>
        <a class="menu-item" href="/widgets/form">uix-form</a>
        <a class="menu-item" href="/widgets/dialog">uix-dialog</a>
        <a class="menu-item" href="/widgets/dropdown">uix-dropdown</a>
        <a class="menu-item" href="/widgets/toast">uix-toast</a>

        <div class="menu-section">Add-ons</div>
        <a class="menu-item" href="/add-ons/views" >Views</a>
        <a class="menu-item" href="/add-ons/taps">Taps</a>
    </div>
</div>
