<div class="test-view2 ui-view" style="background: #<%=options.color%>" data-transition="slide:left">
    <button class="btn-back ui-button test-button">Back</button>
    <button class="btn-next ui-button test-button">Next</button>
    <h1>View 2</h1>
    <div class="time"><%=new Date().toUTCString()%></div>
</div>