<%
var code;
%>
<div id="widgets-text-view" class="uix-view">
    <div class="content-head">Widgets/uix-text</div>
    <div class="content-body">
        <h2>Input text</h2>
        <%-code = '<input name="username" type="text" value="" class="uix-text" placeholder="Username or email" />'%>
        <pre><code class="html hljs"><%=code%></code></pre>
    </div>



</div>