<div id="widgets-toast-view" class="uix-view">
    <div class="content-head">Widgets/uix-toast</div>
    <div class="content-body">
        <div class="uix-button toast1">Show Toast</div>
    </div>
</div>