<div id="widgets-toast-view" class="uix-view">
    <div class="content-head">Widgets/uix-toast</div>
    <div class="content-body">
        <div class="uix-button toast1">Show Toast 1</div>
        <div class="uix-button toast2">Show Toast 2</div>
        <div class="uix-button toast3">Show Toast 3</div>
        <div class="uix-button toast4">Show Toast 4</div>
    </div>
</div>