<div id="widgets-select-view" class="uix-view">
    <div class="content-head">Widgets/uix-select</div>
    <div class="content-body">
        <h2>Select</h2>
        <%-code =
            '<select class="uix-select">\n' +
                '\t<option value="">Select your country...</option>\n' +
                '\t<option value="es">Spain</option>\n' +
                '\t<option value="us">United States</option>\n' +
                '\t<option value="fr">France</option>\n' +
            '</select>\n'%>
        <pre><code class="html hljs"><%=code%></code></pre>
        <br/>
    </div>
</div>