<div class="test-view3 ui-view" style="background: #<%=options.color%>">
    <button class="btn-back ui-button test-button">Back</button>
    <button class="btn-next ui-button test-button" disabled="disabled">Next</button>
    <h1>View 3</h1>
    <div class="time"><%=new Date().toUTCString()%></div>
</div>