<div id="demo-dialog2" class="uix-dialog uix-transition-slide-up">
    <div class="uix-dialog-head">
        <div class="uix-dialog-title"><%=options.title%></div>
        <div class="uix-dialog-close uix-button icon icon-close"></div>
    </div>
    <div class="uix-dialog-body">
        <%=options.message%>
    </div>
</div>