<div id="demo-dialog1" class="uix-dialog uix-transition-slide-up">
    <div class="uix-dialog-body">
        <h1><%=options.title%></h1>
        <button class="uix-button close">CLOSE</button>
    </div>
</div>