<div id="demo-dialog1" class="uix-dialog" data-transition="slide-up">
    <div class="uix-dialog-title">Privacy Policy Update</div>
    <div class="uix-dialog-content">
        We are updating our <a>Privacy Policy</a> to make it clearer and comply with the new General Data Protection Regulation (GDPR).
    </div>
    <div class="uix-dialog-actions">
        <button class="uix-button not-now uix-gray">NOT NOW</button>
        <button class="uix-button accept">ACCEPT</button>
    </div>
</div>