<div class="test-view1 ui-view" style="background: #<%=options.color%>">
    <button class="btn-back ui-button test-button" disabled="disabled">Back</button>
    <button class="btn-next ui-button test-button">Next</button>
    <h1>View 1</h1>
    <div class="time"><%=new Date().toUTCString()%></div>
</div>