<div id="views-page" class="uix-view">
    <h1>Views</h1>
    <button class="uix-button">Page 1</button>
    <button class="uix-button">Page 2</button>
    <button class="uix-button">Page 3</button>
    <button class="uix-button">Page 4</button>
    <button class="uix-button">Page 5</button>
</div>