<div id="widgets-dialog-view" class="uix-view">
    <div class="content-head">Widgets/uix-dialog</div>
    <div class="content-body">
        <button class="uix-button open">OPEN DIALOG</button>
    </div>
</div>