<div id="widgets-dialog-view" class="uix-view">
    <div class="content-head">Widgets/uix-dialog</div>
    <div class="content-body">
        <div class="uix-button demo1">Dialog 1</div><div class="uix-button demo2">Dialog 2</div>
    </div>
</div>