<div id="widgets-dialog-view" class="uix-view">
    <div class="content-head">Widgets/uix-dialog</div>
    <div class="content-body">
        <div class="uix-button demo1">Demo Dialog</div>
    </div>
</div>