<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>UIX - Javascript User Interface Extension</title>
    <!-- TODO: Realizar la carga local de la fuente -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        <%-include('index.js')%>
        document.addEventListener('DOMContentLoaded', function() {
            launch();
        });
    </script>
    <style type="text/css">
        <%-include('index.css')%>
    </style>
</head>
<body>
    <div id="header" style="display: none;"></div>
    <div id="main-content" class="uix-viewport"></div>
    <div id="main-loader" class="uix-loader --display-none" data-transition="fade">
        <div class="loader"></div>
    </div>
    <div id="overlay" class="uix-transition-fade uix-hide --display-none" style="display: none;"></div>
    <div id="side-menu" class="uix-hide" style="display: none;"></div>
</body>
</html>