<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>UIX - Javascript User Interface Extension</title>
    <!-- TODO: Realizar la carga local de la fuente -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        <%-include('index.js')%>
        document.addEventListener('DOMContentLoaded', function() {
            launch();
        });
    </script>
    <style type="text/css">
        <%-include('index.css')%>
    </style>
</head>
<body>
    <div id="page">
        <div id="page-contents" class="ui-viewport"></div>
    </div>
    <div id="loader" class="ui-loader">
        <svg class="spin" viewBox="0 0 46 46"><circle class="path" cx="23" cy="23" r="20" fill="none" stroke-width="3"></circle></svg>
    </div>
</body>
</html>